<div class="current-cube">
    <img class="cube" src="{{imageUrl}}">
    <p class="name">{{name}}</p>
    <p><span>Цена:</span>{{price}} лв.</p>
    <a id="btn-female" class="btn-female" href="/details/{{_id}}">Детайли</a>
    <button class="btn more">Още</button>
    <div class="description">
        <p>{{description}}</p>
    </div>
</div>