{{#with garment}}
<main>
  <h1>Редактирай</h1>
  <div class="form" id="divForm">
    <form action='/edit/{{_id}}' method="POST">
      <label for="name">Дреха:</label>
      <input type="text" id="name" name="name" value="{{name}}">
      <label for="name">Описание:</label>
      <textarea id="name" name="description">{{description}}</textarea>
      <label for="image">Линк към снимка:</label>
      <input type="text" id="image" name="imageUrl" value="{{imageUrl}}">
      <label for="price">Цена:</label>
      <input type="text" id="price" name="price" value="{{price}}">
      <label for="color">Цвят:</label>
      <input type="text" id="color" name="color" value="{{color}}">
      <input type="submit" value="Направи промените">
    </form>
  </div>
</main>
{{/with}}
